@page
@model BigStore.Pages.Products.IndexModel
@{
}
<div>
</div>
<div class="row">
    <div class="col-2">
        @if (Model.Categories?.Count > 0)
        {
            <h4>Tất cả danh mục</h4>
            <div>
                <a asp-route-categorySlug="@Model.Category?.Slug">@Model.Category?.Title</a>
                @foreach (var cate in Model.Categories)
                {
                    <a class="my-3" asp-route-categorySlug="@cate.Slug">@cate.Title</a>
                }
            </div>
            <hr />
        }
        <div class="mt-2">
            <h4>Khoảng giá</h4>
            <form>
                <input name="categorySlug" value="@Model.CategorySlug" hidden />
                <input name="search" value="@Model.Search" hidden />
                <input name="sortBy" value="@Model.SortBy" hidden />
                <input name="orderBy" value="@Model.OrderBy" hidden />

                <input name="minPrice" type="number" value="@Model.MinPrice" placeholder="min price" min="0" />
                <input name="maxPrice" type="number" value="@Model.MaxPrice" placeholder="max price" min="0" />

                <input type="submit" class="btn btn-primary mt-2" value="Áp dụng" />
            </form>
        </div>
        <hr />

        <div class="mt-2">
            <h4>Đánh giá</h4>
            <div>
                @for (var i = 0; i < 5; i++)
                {
                    <a asp-route-star="@(i+1)" class="my-3">@(new string('X', i + 1)) trở lên</a>
                }
            </div>
        </div>
        <hr />

    </div>
    <div class="col-10">
        @if (!string.IsNullOrEmpty(Model.Search))
        {
            <p>Kết quả tìm kiếm cho từ khoá @Model.Search</p>
        }
        <div class="row justify-content-between">
            <div class="col-8">
                <div class="p-2 bg-gray-white">
                    <p class="my-auto d-inline-block">Sắp xếp</p>
                    <a asp-route-sortBy="pop" class="btn">Phổ biến</a>

                    <a asp-route-categorySlug="@Model.CategorySlug"
                       asp-route-search="@Model.Search"
                       asp-route-sortBy="time"
                       asp-route-minPrice="@Model.MinPrice"
                       asp-route-maxPrice="@Model.MaxPrice"
                       asp-route-orderBy="@Model.OrderBy"
                       class="btn">Mới Nhất</a>

                    <a asp-route-sortBy="sales" class="btn">Bán Chạy</a>

                    <a asp-route-categorySlug="@Model.CategorySlug"
                       asp-route-search="@Model.Search"
                       asp-route-orderBy="asc"
                       asp-route-sortBy="price"
                       asp-route-minPrice="@Model.MinPrice"
                       asp-route-maxPrice="@Model.MaxPrice"
                       class="btn">Giá: Thấp đến Cao</a>

                    <a asp-route-categorySlug="@Model.CategorySlug"
                       asp-route-search="@Model.Search"
                       asp-route-orderBy="desc"
                       asp-route-sortBy="price"
                       asp-route-minPrice="@Model.MinPrice"
                       asp-route-maxPrice="@Model.MaxPrice"
                       class="btn">Giá: Cao đến Thấp</a>

                </div>
            </div>
            @{
                var prevDisabled = !Model.ProductsPaging.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.ProductsPaging.HasNextPage ? "disabled" : "";
            }
            <div class="col-2 row justify-content-between align-items-center">
                <a asp-route-categorySlug="@Model.CategorySlug"
                   asp-route-search="@Model.Search"
                   asp-route-orderBy="@Model.OrderBy"
                   asp-route-sortBy="@Model.SortBy"
                   asp-route-minPrice="@Model.MinPrice"
                   asp-route-maxPrice="@Model.MaxPrice"
                   asp-route-pageIndex="@(Model.PageIndex-1)"
                   class="col-4 btn @prevDisabled">Pre</a>
                <p class="col-4 my-auto">@Model.PageIndex/@Model.ProductsPaging.TotalPages</p>
                <a asp-route-categorySlug="@Model.CategorySlug"
                   asp-route-search="@Model.Search"
                   asp-route-orderBy="@Model.OrderBy"
                   asp-route-sortBy="@Model.SortBy"
                   asp-route-minPrice="@Model.MinPrice"
                   asp-route-maxPrice="@Model.MaxPrice"
                   asp-route-pageIndex="@(Model.PageIndex+1)"
                   class="col-4 btn @nextDisabled">Next</a>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.ProductsPaging)
            {
                <div class="col-2 mb-4">
                    <div class="card">
                        <a asp-page="/products/detail" asp-route-slug="@item.Slug" class="text-decoration-none">
                            <img class="card-img-top" src="@item.ProductImages?.FirstOrDefault()?.ImageUrl" alt="category" />
                            <div class="card-body">
                                <p class="card-title">@item.Name</p>
                                <p class="card-subtitle">Giá: @item.Price VND</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>