@page "/admin/role"
@model IndexModel
@{
    ViewData["Title"] = "Danh sách các role (vai trò)";
}
<h3>Danh sách các role</h3>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<a class="btn btn-primary" asp-page="./Create">Thêm mới Role</a>

<a class="btn btn-success" asp-page="./User">Gán role cho người dùng</a>

<table class="table">
    <tr>
    <th>Role ID</th>
    <th>Tên</th>
    <th>Tác vụ</th>
    </tr>
        @foreach (var role in @Model.Roles)
        {
            <tr>
            <td>@role.Id</td>
            <td>@role.Name
                @foreach(var claim in role.Claims)
                {
                    <small>@claim</small>
                }
            </td>
            <td>
                <a name="Input.ID" class="btn btn-success btn-sm" 
                    asp-page="./Edit" asp-route-roleid="@role.Id">Cập nhật Role</a>
                <a name="Input.ID" class="btn btn-danger btn-sm" 
                    asp-page="./Delete" asp-route-roleid="@role.Id">Xóa Role</a>
            </td>
            </tr>
        }
</table>
